@font-face {
	font-family: 'NexaFreeBoldwebfont';
	src: url('./NexaFreeBoldwebfont.eot');
	src: local('NexaFreeBoldwebfont'), url('./NexaFreeBoldwebfont.woff') format('woff'), url('./NexaFreeBoldwebfont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1414">Text with this font applied</p> */
.fontsforweb_fontid_1414 {
	font-family: 'NexaFreeBoldwebfont' !important;
}

/* Font downloaded from FontsForWeb.com */